{% extends "bases/base.html" %}
{% block "title" %}Event Editor{% endblock %}
{% block "body" %}
<div class="row mx-4">
    <div class="row mb-3">
        <div class="col">
            <a href="{% url 'event_edit' %}"><button class="btn btn-primary">Back</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include "fragments/events/eventeditorform.html" with event=event %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% include "fragments/events/eventparticipantslist.html" with event_participants=event_participants event_id=event.id participants_count=event.participants.all|length %}
        </div>
        <div class="col-6">
            {% include "fragments/events/event_certifications.html" with num_certifications=num_certifications %}
        </div>
    </div>
</div>
{% endblock %}