<div class="card bg-dark text-white">
    <div class="card-header fs-4">
        Register
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'register' %}">{% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3 row">
                <div class="col-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="col-6">
                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword">
                </div>
            </div>
            <button type="submit" class="btn btn-primary container-fluid">Submit</button>
        </form>
    </div>
</div>