<div class="card bg-dark text-white mb-3">
    <div class="card-header fs-4">
        Certifications
    </div>
    <div class="card-body">
        <div class="mb-3">
            <form action="" method="GET">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" required>
                </div>
                <button class="container-fluid btn btn-primary">Search certification</button>
            </form>
        </div>
        <div>
            <p>To be generated: {{ num_certifications }}</p>
            <form action="" method="GET">
                <button class="container-fluid btn btn-success">Generate all certifications</button>
            </form>
        </div>
    </div>
</div>